:root{
	--wd-top-bar-h: 0.001px;
	--wd-top-bar-sm-h: 0.001px;
	--wd-top-bar-sticky-h: 0.001px;

	--wd-header-general-h: 110px;
	--wd-header-general-sm-h: 90px;
	--wd-header-general-sticky-h: 70px;

	--wd-header-bottom-h: 60px;
	--wd-header-bottom-sm-h: 0.001px;
	--wd-header-bottom-sticky-h: 52px;

	--wd-header-clone-h: 0.001px;
}


.whb-sticked .whb-general-header .wd-dropdown {
	margin-top: 15px;
}

.whb-sticked .whb-general-header .wd-dropdown:after {
	height: 25px;
}

.whb-header-bottom .wd-dropdown {
	margin-top: 10px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 20px;
}

.whb-sticked .whb-header-bottom .wd-dropdown {
	margin-top: 6px;
}

.whb-sticked .whb-header-bottom .wd-dropdown:after {
	height: 16px;
}

.whb-header .whb-header-bottom .wd-header-cats {
	margin-top: -0px;
	margin-bottom: -1px;
	height: calc(100% + 1px);
}


@media (min-width: 1025px) {
	
		.whb-general-header-inner {
		height: 110px;
		max-height: 110px;
	}

		.whb-sticked .whb-general-header-inner {
		height: 70px;
		max-height: 70px;
	}
		
		.whb-header-bottom-inner {
		height: 60px;
		max-height: 60px;
	}

		.whb-sticked .whb-header-bottom-inner {
		height: 52px;
		max-height: 52px;
	}
		
	
			.wd-header-overlap .title-size-small {
		padding-top: 191px;
	}

	.wd-header-overlap .title-size-default {
		padding-top: 231px;
	}

	.wd-header-overlap .title-size-large {
		padding-top: 271px;
	}

		.wd-header-overlap .without-title.title-size-small {
		padding-top: 171px;
	}

	.wd-header-overlap .without-title.title-size-default {
		padding-top: 206px;
	}

	.wd-header-overlap .without-title.title-size-large {
		padding-top: 231px;
	}

		.single-product .whb-overcontent:not(.whb-custom-header) {
		padding-top: 171px;
	}
	}

@media (max-width: 1024px) {
	
		.whb-general-header-inner {
		height: 90px;
		max-height: 90px;
	}
	
	
	
			.wd-header-overlap .page-title {
		padding-top: 106px;
	}

		.wd-header-overlap .without-title.title-shop {
		padding-top: 91px;
	}

		.single-product .whb-overcontent:not(.whb-custom-header) {
		padding-top: 91px;
	}
	}
		.whb-general-header-inner { border-bottom-width: 0px;border-bottom-style: solid; }
.whb-general-header {
	background-color: rgba(99, 118, 84, 1);
}
.whb-header-bottom-inner { border-color: rgba(255, 255, 255, 0.4);border-bottom-width: 1px;border-bottom-style: solid; }
.whb-header-bottom {
	background-color: rgba(99, 118, 84, 1);
}
